version: '2'
services:
  mariadb:
    image: docker.io/bitnami/mariadb:10.6
    restart: unless-stopped
    volumes:
      - ./db_data:/bitnami/mariadb
    environment:
      - MARIADB_USER="{{ MARIADB_USER }}"
      - MARIADB_DATABASE="{{ MARIADB_DATABASE }}"
      - MARIADB_ROOT_PASSWORD="{{ MARIADB_ROOT_PASSWORD }}"
      - MARIADB_PASSWORD="{{ MARIADB_PASSWORD }}"
  wordpress:
    image: docker.io/bitnami/wordpress:6
    restart: unless-stopped
    ports:
      - '80:8080'
      - '443:8443'
    volumes:
      - ./wordpress_data:/bitnami/wordpress
    depends_on:
      - mariadb
    environment:
      - WORDPRESS_DATABASE_HOST=mariadb
      - WORDPRESS_DATABASE_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER="{{ MARIADB_USER }}"
      - WORDPRESS_DATABASE_NAME="{{ MARIADB_DATABASE }}"
      - WORDPRESS_DATABASE_PASSWORD="{{ MARIADB_PASSWORD }}"
      - WORDPRESS_USERNAME="{{ WORDPRESS_USERNAME }}"
      - WORDPRESS_PASSWORD="{{ WORDPRESS_PASSWORD }}"
      - WORDPRESS_AUTH_KEY="{{ WORDPRESS_AUTH_KEY }}"
      - WORDPRESS_SECURE_AUTH_KEY="{{ WORDPRESS_SECURE_AUTH_KEY }}"
      - WORDPRESS_LOGGED_IN_KEY="{{ WORDPRESS_LOGGED_IN_KEY }}"
      - WORDPRESS_NONCE_KEY="{{ WORDPRESS_NONCE_KEY }}"
      - WORDPRESS_AUTH_SALT="{{ WORDPRESS_AUTH_SALT }}"
      - WORDPRESS_SECURE_AUTH_SALT="{{ WORDPRESS_SECURE_AUTH_SALT }}"
      - WORDPRESS_LOGGED_IN_SALT="{{ WORDPRESS_LOGGED_IN_SALT }}"
      - WORDPRESS_NONCE_SALT="{{ WORDPRESS_NONCE_SALT }}"

